@import "tailwindcss";
@plugin "daisyui";


:root{
  --brand: #0ea5a4; /* teal-ish */
  --accent: #6366f1; /* indigo-ish */
}

html,body,#root { height: 100%; }

.card-img { width: 100%; height: 220px; object-fit: cover; }

